*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'kanit',sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
}

.fa{
    color: black;
}
.logo{
    padding: 30px 0 40px 0;
    box-sizing: border-box;
    width: 60%;
    margin: auto;
}   
.logo h1{
    font-size: 50px;
    font-weight: 800;
    opacity: 0.9;
    position: relative;
    bottom: 20px;
    text-align: center;
    color: rgb(33, 27, 27);
    text-transform: capitalize;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actual-page{
    display: none;
}

.actual-page form{
    width: 45%;
    vertical-align: top;
    display: inline-block;
    padding: 50px 0 0 10%;
}
label{
    display: block;
    position: relative;
    bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
#amount{
    height: 40px;
    padding-left: 20px;
    width: 70%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 20px;
    border-top-left-radius: 0;
    margin-bottom: 40px;    
}



.inputs select{
    width: 70%;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-top-left-radius: 0;
    margin-bottom: 10px;
}
.from,.to{
    margin-bottom: 40px;
}
.btn{
    padding: 15px 30px;
    font-size: 22px;
    left: 17%;
    position: relative;
    top: 100px;
    background-color: #671d1d;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    border: none;
}
.btn i{
    color: white;
}
.btn:hover{
    background-color: #9d3b3b;
}
.inputs p{
    font-size: 17px;
    color: red;
    font-weight: 500;
}

.blur-div{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,white,#ed788d);
    position: absolute;
    filter: blur(10px);
    z-index: -1;
    top: 0;
}

.one{
    height: 400px;
    width: 400px;
    background-color: #e6b0ef;
    opacity: 0.6;
    border-radius: 50%;
    position: absolute;
    left: -200px;
    top: -150px;
}

.two{
    height: 300px;
    width: 300px;
    background-color: #a2e7e2;
    opacity: 0.9;
    border-radius: 50%;
    position: absolute;
    right: -150px;
    top: 60%;
}

.three{
    height: 150px;
    width: 150px;
    background-color:#e94747;
    opacity: 0.9;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 83%;
}
figure{
    width: 50%;
    padding-top: 50px;
    position: relative;
    top: 100px;
    display: inline-block;
}
figure svg{
    width: 80%;
    height: auto;
    margin: auto;

}

.msg{
    font-size: 23px;
    color: red;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}


@media screen and (max-width:1400px){
    .logo h1{
        font-size: 43px;
    }
    .logo{
        padding: 20px 0 30px 0;
    }
    .sign-in form{
        padding-top: 50px;
    }
    .sign-in h1{
        font-size: 35px;
    }
    .inputs input{
        height: 40px;
    }
    .sign-in{
        width: 60%;
    }
    .one{
        width: 200px;
        height: 200px;
        left: -100px;
        top: -100px;
    }
    #amount{
        margin-bottom: 20px;
    }
    .two{
        height: 200px;
        width: 200px;
        right: -100px;
        top: 70%;
    }
    .actual-page form{
        padding-top: 0;
    }
    .from,.to{
        margin-bottom: 20px;
    }
    label{
        font-size: 26px;
    }
}



@media screen and (max-width:700px){
    body{
    overflow-x: hidden;
    overflow-y: hidden;
        height: inherit;
    width: 100%;
    }
    .logo h1{
        font-size: 38px;
    }
    .logo{
        width: 100%;
    }

    .actual-page form{
        margin: auto;
        width: 90%;
        display: block;
        padding-top: 30px;
        padding-left: 0;
    }
    figure{
        display: none;
    }
    .inputs select{
        height: 33px;
        width: 80%;
        margin: auto;
        display: block;
    }
    #amount{
        height: 30px;
        width: 80%;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        display: block;
    }
    label{
        font-size: 22px;
        font-weight: 400;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    .inputs p{
        font-size: 15px;  
        text-align: center;
    }
    .from,.to{
        margin-bottom: 20px;
    }

    .logo{
        padding: 15px 0 20px 0;
    }
    .btn{
        padding: 10px 20px;
        font-size: 18px;
        left: 10%;
        display: block;
    }



}

